*{
    padding: 0;
    margin: 0;
}

.header1 {
    background: url(images/banner-landingpage.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.navigate {
    
    width: 100%;
    height: 85px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 800px;
}

.logo {
      
        font-size: 24px;
        
        color: #4a4a4a;
}

.icon-insta img {
    width: 30px;
    height: 30px;
    margin-left: -40px;
}

.nav3 {
    margin-right: 10px
}

.nav1 a {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 16px;
    line-height: 1.6;
    height: 500%;
}

.nav2 a{
    text-decoration: none;
    font-size: 16px;
    color: #4a4a4a;
    line-height: 1.6;
}

.nav3 a{
    text-decoration: none;
    font-size: 16px;
    color: #4a4a4a;
    line-height: 1.6;
}

.container1 {
    width: 700px;
    height: 500px;
    background-color: #9dc20a;
    margin: 100px;
    margin-top: 170px;
    border: 1px solid #979797;
    border-radius: 4px;
}

.text1 h3 {
    position: relative;
    top: 60px;
    left: 290px;
    font-style: italic;
    color: white;
    font-size: 42px;
}

.text2 h1 {
    position: relative;
    color: white;
    font-size: 50px;
    left: 150px;
    top: 80px;
    line-height: 1.4;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text3 p {
    color: white;
    font-size: 20px;
    position: relative;
    max-width: 400px;
    text-align: center;
    left: 160px;
    top: 120px;
    line-height: 1.4;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    width: 408px;
    height: 64px;
    position: relative;
    left: 150px;
    top: 180px;
    background-color: #4a4a4a;
    color: aliceblue;
    font-size: 20px;
    border: none;
}

.cont2 {
    width: 100%;
    height: 90vh;
    background-color: rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dau-div
{
    width: 70%;
    height: 635px;
    background-color: rgb(199, 199, 199);
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.photo1 {
    background-color: white;
    width: 30%;
    height: 535px;
}

.photo1 img {
    width: 90%;
    height: 55%;
    margin-top: 32px;
    margin-left: 25px;
}

.photo2 {
    background-color: white;
    width: 90%;
    height: 535px;
}

.photo2 img {
    width: 90%;
    height: 55%;
    margin-top: 32px;
    margin-left: 25px;
}

.section {
    width: 100%;
    height: 90vh;
    background-color: rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    width: 90%;
    height: 635px;
    background-color: rgb(199, 199, 199);
    justify-content: space-around;
    display: flex;
    align-items: center;
} 

.feature-1 {
    background-color: white;
    width: 40%;
    height: 635px;
}

.feature-1 img {
    width: 90%;
    height: 65%;
    margin-top: 32px;
    margin-left: 25px;
}

.feature-2 {
    background-color: white;
    width: 40%;
    height: 635px;
}

.feature-2 img{
    width: 90%;
    height: 65%;
    margin-top: 32px;
    margin-left: 25px;
}

.text4 h1{
    margin-left: 90px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #4a4a4a;
 }

 .text4 p{
     margin-left: 80px;
     font-size: 20px;
     max-width: 400px;
     text-align: center;
     color: #4a4a4a;
 }

 .text5 h1{
     margin-left: 90px;
     margin-bottom: 20px;
     font-size: 30px;
     color: #4a4a4a;
  }

  .text5 p{
      margin-left: 80px;
      font-size: 20px;
      max-width: 400px;
      text-align: center;
      color: #4a4a4a;
  }

  .figure {
    width: 100%;
    height: 85vh;
    background-color: #4a4a4a;
    margin-top: -100px;
}

  .text6 h1 {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-left: -100px;
}

.text7 {
    margin-top: 32px;
    height: 200px;
    justify-content: center;
    display: flex;
   text-align: center;
    margin-left: 700px;
}

.text7 p {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 26px;
    margin-right: 500px;
    margin-left: -230px;
}

.imagess {
    margin-top: -64px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.imagess img{
    width: 379px;
    height: 379px;
}

.text8 {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text8 p{
    font-size: 30px;
}

.rectan{
    width: 25px;
    height: 35px;
    border: 3px solid black;
    margin-left: 30px;
}

.text8 img{
    margin-right: 100px;
    margin-left: 30px;
}

.footer p1{
    color: aliceblue;
    margin-left: -900px;
}

.footer p2{
    color: aliceblue;
    margin-right: -500px;
}

.footer{
    width: 100%;
    height: 62px;
    background-color: #9b9b9b;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer img{
    margin-left: -500px;
    margin-right: -150px;
}