p {
    color: burlywood;
}
* {
    font-family: Verdana;
}
  .green {
    color: green;
  }
  [href]{
    color: chocolate;
  }
  img[src*='"vessels.jpg" alt="">'] {
    height: 50px;
  }
p:hover {
    background-color: antiquewhite;
}
h1 {
    color: burlywood;
}
.headline {
    color: khaki;
}
p {
    color: aquamarine;
}
.main p {
    color: darksalmon;
}
h1,
.menu {
    font-family: Georgia
}
p {
    font-size: 18px;
}
p {
    font-weight: bold;
}
h1 {
    text-align: left;
}
h1 {
    color: rgb(85, 125, 94);
    background-color: ivory;
}
.overlay {
    opacity: 0,5;
}
.main-banner {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Human_eye_with_blood_vessels.jpg/300px-Human_eye_with_blood_vessels.jpg);
}
p {
    color: rgb(8, 108, 60);
}
.main p {
    color: rgb(223, 216, 158);
}
body {
    background-color: rgb(238, 243, 205);
}